{#-- Layout: board-of-directors #}

<div class="board-of-directors">
	<div class="header-copy" scroll-top>
		<h2>Board of Directors</h2>
		<p scroll-top>
			Future Ada is led by a volunteer Board of Directors who determine policies, guide financial decisions, and oversee the success of the organization.
		</p>
	</div>
	<div class="the-board">
			<div class="board-member">
				<div class="board-member-inner">
					<div class="name-title">
						<h3 class="name">Rebecca
							<br/>Long</h3>
						<p class="title">President & Founder</p>
					</div>
					<div class="links">
						<a href="https://www.linkedin.com/in/amaya30/" target="_blank" class="linkedin"></a>
						<a href="https://www.facebook.com/amaya30" target="_blank" class="facebook"></a></br></br>
						<a href="https://twitter.com/amaya30" target="_blank" class="twitter"></a>
						<a href="https://www.instagram.com/amaya30/" target="_blank" class="instagram"></a>
					</div>
					<div class="profile-image-wrapper">
						<img class="profile-image" src="/assets/img/Rebecca.jpg" />
					</div>
				</div>
			</div>
			<div class="board-member">
				<div class="board-member-inner">
					<div class="name-title">
						<h3 class="name">Brent
							<br/>Schneider</h3>
						<p class="title">Vice president</p>
					</div>
					<div class="links">
						<a href="https://www.linkedin.com/in/thebrentschneider/" target="_blank" class="linkedin"></a>
						<a href="https://www.facebook.com/brent007" target="_blank" class="facebook"></a></br></br>
						<a href="https://twitter.com/webmedic" target="_blank" class="twitter"></a>
						<a href="https://www.instagram.com/webmedic/" target="_blank" class="instagram"></a>
					</div>
					<div class="profile-image-wrapper">
						<img class="profile-image" src="/assets/img/Brent.jpg" />
					</div>
				</div>
			</div>
			<div class="board-member">
				<div class="board-member-inner">
					<div class="name-title">
						<h3 class="name">Justine
							<br/>Johnson</h3>
						<p class="title">Secretary</p>
					</div>
					<div class="links">
						<a href="https://www.linkedin.com/in/justine-johnson-6567015b/" target="_blank" class="linkedin"></a>
					</div>
					<div class="profile-image-wrapper">
						<img class="profile-image" src="/assets/img/Justine.jpg" />
					</div>
				</div>
			</div>
			<div class="board-member">
				<div class="board-member-inner no-links">
					<div class="name-title">
						<h3 class="name">Melanie
							<br/>Anderson</h3>
						<p class="title">Treasurer</p>
					</div>
					<div class="links">
					</div>
					<div class="profile-image-wrapper">
						<img class="profile-image" src="/assets/img/Melanie.jpg" />
					</div>
				</div>
			</div>
			<div class="board-member">
				<div class="board-member-inner">
					<div class="name-title">
						<h3 class="name">Dr. Carol
							<br/>Taylor</h3>
						<p class="title">Co-founder</p>
					</div>
					<div class="links">
						<a href="https://www.linkedin.com/in/carol-taylor-b52836124/" target="_blank" class="linkedin"></a>
					</div>
					<div class="profile-image-wrapper">
						<img class="profile-image" src="/assets/img/Carol.jpg" />
					</div>
				</div>
			</div>
			<div class="board-member">
				<div class="board-member-inner">
					<div class="name-title">
						<h3 class="name">Jennifer
							<br/>Pearson</h3>
						<p class="title">Co-founder</p>
					</div>
					<div class="links">
						<a href="https://www.facebook.com/jennifer.pearson.94617" target="_blank" class="facebook"></a>
					</div>
					<div class="profile-image-wrapper">
						<img class="profile-image" src="/assets/img/Jennifer.jpg" />
					</div>
				</div>
			</div>
	</div>
</div>