{#-- Layout: future-events #}

<div class="future-events">
	<div class="header-copy" scroll-top>
		<h2> Future Events </h2>
		<p scroll-top> 
			Come join us as we collaborate together, and grow our community together. All of our events are open to the public, and welcoming of everyone who wants to join.
		</p>
	</div>
	<div class="events">
		<div class="event coding delay-1" scroll-top>
			<div class="icon"></div>
			<div class="event-title">Django Girls Spokane</div>
			<div class="date">
				<span>Sept 29, 2018</span>
			</div>
			<div class="description">
 				<p>A one-day free workshop for women on programming to learn Python and Django.  More details and registration information coming soon! @ Startup Spokane</p>
			</div>
			<a class="btn disabled" href="http://www.google.com" target="_blank">
				Register Soon
			</a>
		</div>
		<div class="event video delay-2" scroll-top>
			<div class="icon"></div>
			<div class="event-title">CODE: Debugging the Gender Gap</div>
			<div class="date">
				<span>TBD</span>
			</div>
			<div class="description">
 				<p>Watch party for CODE: Debugging the Gender Gap discussing why there is such a gender discrepancy in tech.</p>
			</div>
			<a class="btn disabled" href="http://www.google.com" target="_blank">
				Register Soon
			</a>
		</div>
		<div class="event speaker delay-3" scroll-top>
			<div class="icon"></div>
			<div class="event-title">SHEtech</div>
			<div class="date">
				<span>TBD</span>
			</div>
			<div class="description">
 				<p>An inspirational event for women of all ages interested in going into the tech industry. Hear from successful women in the tech community including some local women tech leaders. Learn how they got into the field and what their experience has been like.  There will be an opportunity to ask questions and get advice on how you too can enter this exciting field!
 				</p>
			</div>
			<a class="btn disabled" href="http://www.google.com" target="_blank">
				Register Soon
			</a>
		</div>
	
		<div class="event special delay-2" scroll-top>
			<div class="icon"></div>
			<div class="event-title">Ada Lovelace Day</div>
			<div class="date">
				<span>Oct 2018</span>
			</div>
			<div class="description">
 				<p>Celebratory event to honor Ada Lovelace, the famous mathematician and first computer programmer and who our organization is proudly named after!  Details to come!</p>
			</div>
			<a class="btn disabled" href="http://www.google.com" target="_blank">
				Register Soon
			</a>
		</div>

	</div>

</div>