{#-- Layout: footer #}

<div class="footer">
<div class="content">
	<div class="info">
		<div class="logo-address">
			<div class="logo">
				<img src="/assets/img/Future_Ada_Logo.png"></img>
				<h3>Inclusion, Diversity,</br>and Collaberation</h3>
			</div>
			<div class="address">
				<div class="detail-title">Address</div>
				<div class="detail-info"><p>
					PO Box 294, Liberty Lake, WA 99019
				</p></div>
			</div>
		</div>
		<div class="details">
			<div class="detail-title">General Inquires</div>
			<div class="detail-info"><a href="mailto:hello@futureada.org">hello@futureada.org</a></div>
		</div>
	</div>
	<div class="social-legal">
		<div class="social">
			<a href="https://www.facebook.com/futureada/" target="_blank" class="facebook"></a>
			<a href="https://www.linkedin.com/company/futureada/" target="_blank" class="linkedin"></a>
			<a href="https://twitter.com/FutureAda" target="_blank" class="twitter"></a>
			<a href="https://www.instagram.com/futureada/" target="_blank" class="instagram"></a>
			<a href="https://medium.com/future-ada" target="_blank" class="medium"></a>
			<a href="https://github.com/futureada" target="_blank" class="github"></a>
		</div>
		<div class="legal">
			©2018 FutureAda, a 501(c)(3) organization EIN: 82-4398280 &nbsp|&nbsp <a href="/code_of_conduct.html" target="_blank">Code of Conduct</a>
		</div>
	</div>
</div>
</div>