{#-- Layout: feature-carousel #}

<div class="feature-carousel" scroll-top>
	<div class="feature-carousel-inner">
		<div class="slide">
			<div class="filter"><img class="background-image" src="{{src}}"/></div>
			<div class="copy" scroll-top>
				<p>It is our belief that the fields of science, technology, engineering, art, and mathematics are stronger when they are both diverse and inclusive.</p>
				<p>We want to do our part to help ensure that these fields are open, available, and safe for women and non-binary individuals to be a part of.</p>
			</div>
		</div>
	</div>
</div>